*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: inherit;
    list-style: none;
   
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container {
    max-width: 122rem;
    padding: 0 1rem;
    margin: 0 auto;
}
body {
    color: #1B1818;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
/* font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


.header{
    background: #164863;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.menu__btn {
    display: none; 
    width: 35px;
    height: 24px;
    border: none;
    cursor: pointer;
    background: transparent;
    border-top: 2px solid #fefefe;
    border-bottom: 2px solid #fefefe;
    position: relative;
}
.menu__btn::before {
    content: '';
    position: absolute;
    width: 3.5rem;
    height: 2px;
    background-color: #fefefe;
    left: 0;
    top: 9px;
}
.logo__link{
    width: 8rem;
    height: 4rem;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 1.5rem;
}
.nemu__list-link {
    text-transform: uppercase;
    color: #fefefe;
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-bottom: .5rem;
    transition: all 0.3s;
    border-bottom: .1rem solid transparent;
}
.nemu__list-link:hover {
    border-bottom: .1rem solid #fefefe;
}
.phone {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #74E291;
    color: #DDF2FD;
    display: flex;
    justify-content: center;

}
.phone_num, .footer__top-num{
    display: flex;
    flex-direction: column;
}
.phone_num a,
.footer__top-num a {
    color: #DDF2FD;
}
.phone_num a:hover,
.footer__top-num a:hover {
    color: #74E291;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #164863;
    color: #DDF2FD;
}


.dropdown:hover .dropdown-content {
    display: block;
}

/* MAIN */
.top{
    padding-bottom: 10rem;
}
.top__heading {
    display: flex;
    padding: 5rem 0 3rem;
}
.top__content {
    text-align: center;
    padding-top: 9rem;
    width: 50%;
}
.top__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 4.8rem;
    line-height: 5.8rem;
    margin: 0 auto 2rem;
    max-width: 45.5rem;
}
.top__text {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin: 0 auto 6rem;
    max-width: 47rem;
}
.application-btn {
    text-transform: uppercase;
    color: #fefefe;
    background: #FE7A36;
    padding: 1.6rem 1.9rem 1.5rem;
    transition: all .5s;
    border: 1px solid transparent;
    display: inline-block;
}
.application-btn:hover {
    color: #FE7A36;
    background: #fefefe;
    border: 1px solid #FE7A36;
}

.top__slider {
    max-width: 50%;  
}
.top__slider .slick-dots {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slick-dots {
    list-style: none;
    text-align: center;
}
.slick-dots button {
    font-size: 0;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #332208;
    border: none;
    border-radius: 50%;
    padding: 0;
    margin: 0 auto;
}
.slick-active button {
    transform: scale(2);
}

.top__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.top__items {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.top__item {
    border: 1px solid #164863;
    padding: 1rem;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all .3s;
}
.top__item:hover {
    transform: scale(1.25);
}

/* SECTION certification */
.certification{
    padding: 7rem 0;
}
.certification__inner{
    display: flex;
    flex-direction: column;
}
.certification__text-first{
    margin-bottom: 7rem;
}
.certification__text-second h4{
    margin-bottom: 1rem;
}
/* SECTION SEARCH*/
.search {
    padding: 10rem 0;
    background-color: #164863;
}
.search__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.search__title {
    color: #fefefe;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 2px;
}

.search__button {
    min-width: 20rem;
    height: 6rem;
    border-bottom: 1px solid #fefefe;
    padding: 0;
    margin: 0 auto;
    position: relative;
    margin-left: 4rem;
    cursor: pointer;
}
.search__button-text {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: -4rem;
    color: #fefefe;
}
/* .button {
    transform: scale(2);
} */

/* SECTION RENT */
.rent {
    padding: 10rem 0;
}
.rent__inner {
    display: flex;
    flex-direction: column;
}
.rent__content {
    min-width: 300px;
    width: 100%;
}
.rent__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.rent__text {
    margin-bottom: 2rem;
}
.rent__text + .rent__text {
    margin-bottom: 4rem;
}
.rent__items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}
.renrt__item {
    border: 1px solid #164863;
    min-height: 25rem;
    padding: 2rem 3.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rent__item-num {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 9.6rem;
    line-height: 11.5rem;
    opacity: 0.1;
}
.rent__item-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: auto;
}


/* benefits */
.benefits {
    padding: 10rem 0;
}
.benefits__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.benefits__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 5rem;
}
.benefits__list {
    width: 60rem;
    list-style: none;
}
.benefits__list-item {
    margin-bottom: 2.7em;
    padding-right: 2.6rem;
    position: relative;
    text-align: right;
}
.benefits__list-item::after {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background: #332208;
    background: #164863;
    border-radius: 50%;
    right: 0;
    top: 0.3rem;
}
.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7){
    margin-right: 1rem;
}
.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6){
    margin-right: 6rem;
}
.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5){
    margin-right: 11rem;
}
.benefits__list-item:nth-child(4){
    margin-right: 15.5rem;
}

.benefits__images {
    max-width: 30rem;
}
.benefits__content {
    width: 30rem;
    text-align: right;
}
.benefits__text {
    margin-bottom: 3rem;
    text-align: right;
}
.benefits__text + .benefits__text {
    width: 26.7rem;
    margin-left: auto;
}


.reviews {
    padding: 10rem 0;
    background-color: #164863;
    color: #fefefe
}
.reviews__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 7rem;
}
.reviews__slider {
}
.slick-initialized .reviews__item {
    display: flex;
}
.reviews__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
}
.reviews__item{
    position: relative;
    width: 150px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
/* .reviews__item::after {
    content: '';
    position: absolute;
    top: -0.2rem;
    left: -.5rem;
    width: 2rem;
    height: 0.1rem;
    background-color: #74E291;
    z-index: 1;
} */
.reviews__item::before {
    content: '';
    position: absolute;
    top: -.5rem;
    left: -.2rem;
    width: 0.1rem;
    height: 6rem;
    background-color: #74E291;
    z-index: 1;
}

.reviews__item span{
    color: aqua;
    margin-top: 2rem;
    transition: all .5s linear;
}
.reviews__item:hover span{
    color: #74E291;
    font-weight: 500;
    font-size: 18px;
}

/* !!!!!!!!!!!!!! */
/* ecology */
.ecology{
    padding: 10rem 0;
}
.ecology__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: .5rem;
}
/* feedback */
.feedback {
    padding: 10rem 0;
}
.feedback__inner{
    display: flex;
    align-items: center;
}
.feedback__images{
    width: 50%;
}
.feedback__form{
    width: 41.5rem;
    margin: 0 auto;
}
.feedback__title{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: .5rem;
}
.feedback__text{
    margin-bottom: 3rem;
}
.feedback__input{
    display: block;
    padding: 2rem 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.feedback__input::placeholder {
    line-height: 1.9rem;
    font-size: 1.6rem;
    color: #1B1818;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.feedback__btn{
    text-transform: uppercase;
    color: #fefefe;
    display: inline-block;
    background-color: #FE7A36;
    padding: 1.6rem 3.6rem 1.5rem;
    margin-top: 5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    border: 1px solid transparent;
    transition: all .3s;
}
.feedback__btn:hover {
    background-color: #fefefe;
    color: #FE7A36;
    border: 1px solid #FE7A36;
}

/* footer */
.footer{
    padding: 2rem 0;
    background: #164863;
}
.footer__top{
    display: flex;
    justify-content: start;
    align-items: center;
}
.footer__copyright{
    font-size: 1rem;
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    color: #FE7A36;
}
.footer__copyright p {
    margin: 0 0.5rem;
}
.footer__top .phone{
    margin-right: auto;
}
.phone-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
}
.phone-icon i{
    font-size: 3rem;
}


@media (max-width: 1250px){
    .benefits__images {
        width: 40%;
    }
}
@media (max-width: 1170px){
    .rent__inner {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .rent__content {
        width: 100%;
        /* margin-top: 3rem; */
    }
}
@media (max-width: 1000px){
    .top__heading {
        display: block;
    }
    .top__content {
        width: 100%;
        padding-top: 3rem;
    }
    .top__slider {
        max-width: 100%;  
    }
    .top__slider-images {
        margin: 0 auto;
    }
    .top__bottom {
        display: block;
    }
    .top__links {
        padding-right: 0;
        margin-top: 5rem;
        text-align: center;
    }
    .top__items {
        width: 100%;
    }
    .benefits__items {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .benefits__content {
        width: 100%;
        margin-top: 3rem;
    }
    .benefits__text + .benefits__text {
        width: 100%;
    }
    .footer .menu {
        display: none;
    }

    .reviews__inner{
        display: grid;
        grid-column-gap: .5em;
        grid-row-gap: 3em;
        grid-template-columns: repeat(3, 1fr);
    }

}
@media (max-width: 860px){
    .header {
        /* z-index: 100; */
    }
    .menu {
        order: 1;
    }
    .menu__list {
        display: block;
        position: absolute;
        top: 10rem;
        left: 0;
        right: 0;
        background-color: #164863;
        text-align: center;
        padding: 2rem 0;
        transform: translateY(-50rem);
        transition: all 0.3s;
    }
    .menu__list.menu__list--active {
        transform: translateY(0);
    }
    .nemu__list-link {
        display: block;
        padding: 2rem 0;
    }
    .menu__btn {
        display: block;
    }
    .rent__inner div {
        margin: 0;
    }
    .top,
    .feedback,
    .reviews,
    .benefits,
    .footer,
    .rent {
        padding: 3rem 0;
    }
    .rent__items {
        /* grid-template-columns: repeat(auto, 1fr); */
        grid-template-columns: none;
    }
    .reviews__inner{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 625px){
    .renrt__item {
        width: 100%;
        min-height: 24.5rem;
    }
    .rent__content {
        text-align: center;
    }
    .rent__item-title {
        margin-bottom: 2rem;
    }
    .reviews__title {
        margin-bottom: 2rem;
    }
    .reviews__inner{
        flex-direction: column;
        padding: 0;
    }
}
@media (max-width: 525px){
    .top__items {
        flex-wrap: wrap;
    }
    .top__item {
        margin: 2rem;
    }
    .benefits__items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .benefits__list {
        width: 100%;
        display: inline-block;
    }
    .benefits__images {
        width: 70%;
    }
    .benefits__list-item {
        margin-right: 0;
        text-align-last: center;
        padding-right: 0;
        padding-left: 2.6rem;
    }
    .benefits__list-item::after  {
        right: auto;
        left: 2rem;
    }
    .feedback__images {
        display: none;
    }
    .footer {
        padding: 3rem 0 1.4rem;
    }
    .reviews__inner{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 525px) {
    .footer__top {
        flex-direction: column;
        align-items: center;
    }
    .application-btn {
        margin-bottom: 2rem;
    }
}
@media (max-width: 410px){
    .top__item {
        width: 100%;     
    }
    .top__link + .top__link {
        margin-left: 0;
    }
    .top__links {
       text-align: center; 
    }
    .top__link {
        display: inline-block;
        margin: 1rem 1.5rem;
    }
    .renrt__item {
        margin: 3rem 0;
    }
}



/* TOWN1s */
.body__town{
    background-color: #e3e7e9;
}
.town__block {
    width: 100%;
    padding: 6rem 3rem;
}
.town__block-inner{
    padding: 6rem 3rem;
}
.town__block-title{
    display: flex;
    align-items: center;
}
.town__block-title i {
    font-size: 6rem;
    color: #164863;
}
.town__block-title h2 {
    font-size: 48px;
    font-weight: 600;
    color: #164863;
}

.town__block-address{
    background-color: #164863;
    display: flex;
    position: relative;
}
.address__company-name {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    font-size: 1rem;
    color: #acaaaa;
}
.town--address {
    display: flex;
    color: #DDF2FD;
}

.town__block-address--i {
    margin-right: 2rem;
    font-size: 2rem;
}
.town__block-address--text {
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-bottom: .5rem;
}

.town__block-map{
    display: flex;
    justify-content: center;
    align-items: center;
}
.town__block-map iframe{
    width: 550px; 
    height: 300px;
}




@media (max-width: 525px) {
    .town__block-title i {
        font-size: 3rem;
        color: #164863;
    }
    .town__block-title h2 {
        font-size: 24px;
        font-weight: 600;
        color: #164863;
    }
}